<h1 mat-dialog-title>Add a new task</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input (keyup)="onKey($event)" matInput [formControl]="formControl" [(ngModel)]="newTask.designation" placeholder="Title">
    <mat-hint fxLayout="column">
      {{ charsLeft }} characters left
      <span style="color: #f45f5f; font-weight: 500" *ngIf="charsLeft < 0">You reached max length for title.</span>
    </mat-hint>
    <mat-error *ngIf="formControl.hasError('required');">Please enter a title for your new task.</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="newTask.deadline" [matDatepicker]="picker" [min]="minDate" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
<mat-dialog-actions fxLayoutAlign="end end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" (click)="addTask();" [disabled]="newTask.designation == null || newTask.designation == ''">Add</button>
</mat-dialog-actions>