<h1 mat-dialog-title>Edit task</h1>
<div id="content" mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <input (keyup)="onKey($event)" matInput formControlName="title" placeholder="Title">
      <mat-hint fxLayout="column">
        {{ charsLeft }} characters left
        <span style="color: #f45f5f; font-weight: 500" *ngIf="charsLeft < 0">You reached max length for title.</span>
      </mat-hint>
      <mat-error *ngIf="form.get('title').hasError('required');">Please enter a title for your task.</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input [value]="task.deadline | date: 'yyyy-MM-dd'" formControlName="deadline" matInput [matDatepicker]="picker" [min]="minDate" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker color="accent"></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option value="To do">To do</mat-option>
        <mat-option value="In progress">In progress</mat-option>
        <mat-option value="Done">Done</mat-option>
        <mat-option value="In review">In review</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <br>
</div>
<mat-dialog-actions>
  <button fxLayoutAlign="start" id="delete" mat-raised-button color="warn" [mat-dialog-close]="true" (click)="deleteTask(task);">
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
  <span fxFlex></span>
  <div fxLayoutAlign="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button [mat-dialog-close]="true" (click)="updateTask();" [disabled]="task.designation == null || task.designation == ''" color="accent" cdkFocusInitial>Save</button>
  </div>
</mat-dialog-actions>