<div fxLayout="row" fxLayout.lt-md="column" cdkDropListGroup>
  <!-- To do-->
  <mat-card cdkDropList [cdkDropListData]="toDo" (cdkDropListDropped)="drop($event)" class="column">
    <mat-card-title>To do</mat-card-title>
    <mat-divider></mat-divider>
    <div class="scroll">
      <mat-card class="task" *ngFor="let task of toDo" cdkDrag (click)="editTask(0, task);">
        <p>{{task.designation}}</p>
        <div class="deadlineContainer" [ngStyle]="{'background-color': task.deadlineColor}" *ngIf="task.deadline != '0000-00-00'">
          <span class="deadline">{{task.deadline}}</span>
        </div>
      </mat-card>
    </div>
    <mat-divider class="sep"></mat-divider>
    <button class="addTask" mat-raised-button color="accent" (click)="createTask(0);">Add</button>
  </mat-card>

  <!-- In progres -->
  <mat-card cdkDropList [cdkDropListData]="inProgress" (cdkDropListDropped)="drop($event)" class="column">
    <mat-card-title>In progress</mat-card-title>
    <mat-divider></mat-divider>
    <div class="scroll">
      <mat-card class="task" *ngFor="let task of inProgress" cdkDrag (click)="editTask(1, task);">
        <p>{{task.designation}}</p>
        <div class="deadlineContainer" [ngStyle]="{'background-color': task.deadlineColor}" *ngIf="task.deadline != '0000-00-00'">
          <span class="deadline">{{task.deadline}}</span>
        </div>
      </mat-card>
    </div>
    <mat-divider class="sep"></mat-divider>
    <button class="addTask" mat-raised-button color="accent" (click)="createTask(1);">Add</button>
  </mat-card>

  <!-- Done -->
  <mat-card cdkDropList [cdkDropListData]="done" (cdkDropListDropped)="drop($event)" class="column">
    <mat-card-title>Done</mat-card-title>
    <mat-divider></mat-divider>
    <div class="scroll">
      <mat-card class="task" *ngFor="let task of done" cdkDrag (click)="editTask(2, task);">
        <p>{{task.designation}}</p>
        <!-- In DB, a null/empty date is registered as '0000-00-00' -->
        <div class="deadlineContainer" [ngStyle]="{'background-color': task.deadlineColor}" *ngIf="task.deadline != '0000-00-00'">
          <span class="deadline">{{task.deadline}}</span>
        </div>
      </mat-card>
    </div>
    <mat-divider class="sep"></mat-divider>
    <button class="addTask" mat-raised-button color="accent" (click)="createTask(2);">Add</button>
  </mat-card>

  <!-- In review -->
  <mat-card cdkDropList [cdkDropListData]="inReview" (cdkDropListDropped)="drop($event)" class="column">
    <mat-card-title>In review</mat-card-title>
    <mat-divider></mat-divider>
    <div class="scroll">
      <mat-card class="task" *ngFor="let task of inReview" cdkDrag (click)="editTask(3, task);">
        <p>{{task.designation}}</p>
        <div class="deadlineContainer" [ngStyle]="{'background-color': task.deadlineColor}" *ngIf="task.deadline != '0000-00-00'">
          <span class="deadline">{{task.deadline}}</span>
        </div>
      </mat-card>
    </div>
    <mat-divider class="sep"></mat-divider>
    <button class="addTask" mat-raised-button color="accent" (click)="createTask(3);">Add</button>
  </mat-card>
</div>