<div fxLayout="row" fxLayout.lt-md="column" cdkDropListGroup>
  <!-- To do-->
  <mat-card cdkDropList [cdkDropListData]="tasks" (cdkDropListDropped)="drop($event)" class="column">
    <mat-card-title>To do</mat-card-title>
    <mat-divider></mat-divider>
    <div class="scroll">
        <mat-card class="task" *ngFor="let d of tasks" cdkDrag>{{d.designation}}</mat-card>
    </div>
    <mat-divider class="sep"></mat-divider>
    <button class="addTask" mat-raised-button color="warn" (click)="openDialog();">Add</button>
  </mat-card>

  <!-- In progres -->
  <mat-card cdkDropList [cdkDropListData]="tab2" (cdkDropListDropped)="drop($event)" class="column">
    <mat-card-title>To do</mat-card-title>
    <mat-divider></mat-divider>
    <div class="scroll">
      <mat-card class="task" *ngFor="let d of tab2" cdkDrag>{{d}}</mat-card>
    </div>
    <mat-divider class="sep"></mat-divider>
    <button class="addTask" mat-raised-button color="warn" (click)="addNewTask();">Add</button>
  </mat-card>

  <!-- Done -->
  <mat-card cdkDropList [cdkDropListData]="tab" (cdkDropListDropped)="drop($event)" class="column">
    <mat-card-title>To do</mat-card-title>
    <mat-divider></mat-divider>
    <div class="scroll">
      <mat-card class="task" *ngFor="let d of tab" cdkDrag>{{d}}</mat-card>
    </div>
    <mat-divider class="sep"></mat-divider>
    <button class="addTask" mat-raised-button color="warn" (click)="addNewTask();">Add</button>
  </mat-card>

  <!-- In review -->
  <mat-card cdkDropList [cdkDropListData]="tab2" (cdkDropListDropped)="drop($event)" class="column">
    <mat-card-title>To do</mat-card-title>
    <mat-divider></mat-divider>
    <div class="scroll">
      <mat-card class="task" *ngFor="let d of tab2" cdkDrag>{{d}}</mat-card>
    </div>
    <mat-divider class="sep"></mat-divider>
    <button class="addTask" mat-raised-button color="warn" (click)="addNewTask();">Add</button>
  </mat-card>
</div>