.column{
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    max-height: 70vh;
    overflow-y: scroll;

    mat-card-title{
        font-size: 12pt;
    }
}

.task{
    margin-top: 6%;
    color: black;
    background-color: white;
}

.cdk-drag-preview {
    box-sizing: border-box;
    margin-top: 0;
}

@media(max-width: 1000px){
    .column{
        width: 70%;
    }
}