.column{
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    max-height: 80vh;

    mat-card-title{
        font-size: 12pt;
    }
}

.scroll{
    overflow-y: auto;
    height: 70vh;
    margin-top: 2.5%;

    mat-card{
        width: 85%;
        margin-left: 1%;
    }
}

.addTask{
    margin-left: 5%;
}


.task{
    margin-top: 6%;
    color: black;
    background-color: white;
    font-size: 11pt;
}

.addTask{
    margin-top: 5%;
    margin-left: 1%;
}

.sep{
    margin-top: 2%;
}

.cdk-drag-preview {
    box-sizing: border-box;
    margin-top: 0;
}

@media(max-width: 1000px){
    .column{
        width: 75%;
    }

    .scroll{
        margin-top: 3%;
        height: 60vh;
        
        mat-card{
            width: 90%;
            margin-left: 1%;
            margin-top: 3%;
        }
    }
    
}
